


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


/* shared style */

.dark-2{
    color: #252432 50%;

}


.btn-primary{
    background-color: #4E47FF;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    
}



.text{
    text-align: center;
}

/* header */
.heade{
    background-image: url('../images/Hero-bg.png');
    
}


/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
    height: 151px;
    width: 1140px;
}

.nav-title{
    font-weight: 800;
    font-size: 34px;
}

nav ul{
  align-items: center;
}

nav ul li{
    list-style: none;
}



/* Heading styles */

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.heading-title{
    font-weight: bold;
    font-size: 65px;
}

.heading-content{
    text-align: center;
    margin: 0px 267px 152px 267px;
    }


    /*main styles  */
    
 main{
        max-width: 1140px;
        margin: 0 auto;

    }

    /* Body banner styles */
.banner-title{
    font-size: 42px;
    font-weight: bold;


}

.banner-content{
    max-width: 517px;
}

.banner-side-picture{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: ;
}

.banner-description{
    font-size: 24px;
    color: #252432;
    margin-top: 0;

}

.see-it{
    margin-top: 120px;
}

/* body joined section */

.joiend-title{
    font-size: 38px;
    font-weight: bold;
    color: 252432;
}

.secondary-bg{
    background-color: #bfbdec;
}

.joiend{
    border-radius:24px ;
    padding: 50px 140px;
    margin-top: 120px;
    /* text-align: center; */
}

.joiend-items{
   display: flex;
   justify-content: space-around;
}

.item-title{
font-size: 80px;
font-weight: bold;
color: #4E47FF;
}

.item-description{
font-size: 20px;
font-weight: 16px;
color: rgba(0, 0, 0, 50%);
}

.users-container{
    display: flex;
    gap: 20px;
}

.avata{
    border-radius: 50%;
}

.user-description{
    font-size: 16px;

}

.user-title{
    font-weight: bold;
    font-size: 15px;
}

.userse{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 137px;
}

.dates{
    color: rgb(190, 186, 186);
}

.user{
    padding: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0,  0.06);
    height: 240px;
    width: 360px;
}

.bigg{
    
    border-radius:50px ;
    padding: 20px;
}

.focus{
    text-align: center;
    align-items: center;
    margin-top: 137px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0,  0.06);

}

.focusing{
    margin: 71px;
}

.ready{
    padding-top: 71px;
}

/* touch column */
.touching{
    display: flex;
    justify-content: space-between;
    gap: 110px;
}

.gettings{
    font-size: 97px;
    font-weight: bold;
}

.hhh{
    font-size: 18px;
}

/* footes */
.footer {
  text-align: center;
  
}

.footer-logo {
  font-size: 100px;
  font-weight: bold;
  color: #4a3aff;
}

.footer-description {
  max-width: 500px;
  margin: 20px auto;
  color: #8987A1;
  font-size: 16px;
  
}

.footer-menu {
  list-style: none;
  padding: 0;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.footer-menu li {
  color: #8987A1;
  cursor: pointer;
  transition: color 0.3s;
}
